*{
    padding: 0px;
    margin: 0px;
}
div{
    text-align: center;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    background: blue;
}
.cabecera{
    background:greenyellow;
    margin: 2px;
    font-size: 30px;
    text-align: left;
}
.nav{
    padding: 5px;
    background: limegreen;
    text-align: left;

}
.nav li{
    list-style: none;
    display: inline-block;
    border: 1px solid black;
}
#a{
    text-align: center;
    background: lightgreen;
    font: 15px 8px 'Courier New', Courier, monospace;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 5px;
}
#c{
    text-align: center;
    background: lightskyblue;
    font: 15px 8px 'Courier New', Courier, monospace;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 5px;
}
#e{
    text-align: center;
    background: lightgreen;
    font-size: 15px;
    font-weight: 8px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 5px;
}
#g{
    text-align: center;
    background: lightskyblue;
    font: 15px 8px 'Courier New', Courier, monospace;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 5px;
    margin-bottom: 10px;
}
footer{
    font-size: 30px;
    font:'Courier New', Courier, monospace;
}